body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.form {
  background-color: #15172b;
  border: 3px solid #dc2f55;
  box-shadow: 5px 5px 5px #dc2f55;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
}
.form:hover{
  box-shadow: none;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 100px;
}

.iLabel {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .iLabel {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:focus) ~ .iLabel {
  color: #808097;
  opacity: 0;
}
.input:focus::placeholder{
  opacity: 0;
}
.input:focus ~ .iLabel {
  color: #dc2f55;
  
}

.submit {
  background-color: #dc2f55;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 25px;
  text-align: center;
  width: 100%;
}
.submit:hover{
  color: #dc2f55;
  background-color: #131324;
  border: 1px solid #dc2f55;
}
.submit:active {
  background-color: #dc2f55;
  color: #fff;
}

.formContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form{
  height: auto;
  width: min(500px,70vw);
}
.lform{
  height: auto;
  width: min(500px,70vw);
}
.span {
  color: white;
}

.span a {
  text-decoration: none;
  color: #dc2f55;
}
.Already{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background-color: #15172b
}
nav{
  padding-left: 2rem;
  padding-right: 2rem;
  height: 3rem;
  width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #dc2f55;
}
.brand{
  color: #15172b;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}
.profileOptions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background-color: #15172b;
}
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: #dc2f55;
}

.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: #dc2f55;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 8rem;
  border-radius: 2.5rem;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;fill: #dc2f55;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px ,2px);
}
.postForm{
  margin-top: 5vh;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inp{
  display: block;
  width: 80vw;
  height: 3rem;
  margin: 1rem;
  border: 2px solid #dc2f55;
  padding: 1rem;
  border-radius: 2rem;
  background-color: transparent;
  color: white;
}
input:focus{
  color: #dc2f55;
}

.fileinp{
  color: white;
  margin: 1.5rem;
}
.fileinp::-webkit-file-upload-button{
  height: 2rem;
  width: 6rem;
  background-color: #dc2f55;
  border: none;
  border-radius: 50px;
  color: white;
  margin: 0 1.5rem ;
  /* font-size: 5px; */
}
.ql-toolbar{
  border: 2px solid #dc2f55 !important;
  border-bottom: none !important;
}
.ql-container{
  border: none !important;
}
.ql-editor{
  border: 2px solid #dc2f55 !important;
}

.quill{
  width: 80vw;
  height: 40vh;
  color: white !important;
}
button svg path{
  color: #dc2f55 !important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter ,.ql-active{
  stroke: #dc2f55 !important;
}
.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #dc2f55 !important;
}
.ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #dc2f55 !important;
}
.brand{
  justify-self: flex-start !important;
}
.mainCon{
  margin-top: 15vh;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post{
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  gap: 2rem;
  border: 2px solid #dc2f55;
  border-radius: 30px;
  padding: 2rem;
  margin-bottom: 2rem;
}
.post:hover{
  border-color: white;
  cursor: pointer;
}
.imgDiv{
  width: 28vw;
  height: 32vh;
  border: 2px solid #dc2f55;
  border-radius: 30px;
}
.postImg{
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.contentDiv{
  display: flex;
  flex-direction: column;
  width: 33vw;
}
.authTime{
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
  color: #cf6f83;
}
nav{
  margin-bottom: 10vh;
  position:fixed;
}
.postTitle{
  color: #dc2f55;
}
.Conn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.pro{
  display: flex;
  height: 40px;
  margin-right: 10px;
}
.pro img{
  padding: 0;
  margin: 0;
  width: 35px !important;
  margin-right: 10px;
}
.btn-pro img{
  align-self: center !important;
}
.btn-pro span{
  align-self: center !important;
}
.btn-pro{
  display: flex;
  /* position: absolute !important;
  left: -6vw !important; */
  margin-right: 20px;
  height: 6.5vh;
  background-color: #131324;
  border: none;
  align-self: center !important;
  align-items: center !important;
  justify-content: center;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
  margin-top: 1px;
  height: 6.5vh;
  background-color: #131324;
  border: none;
}
.btn-pro:hover{
  height: 6.5vh;
  background-color: #131324;
  border: none;
  transform: none;
}
.dropdown-menu{
  border: 2px solid #dc2f55;
  background-color: #131324 !important;
}
.dropdown-item{
  color: #dc2f55;
}
.dropdown-item:hover{
  background: #dc2f55;
  color: #131324;
}

.ppost{
  color: white;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center;
  justify-content: center;
  border: 2px solid #dc2f55;
  border-radius: 30px;
  padding: 2rem;
  padding-bottom: auto;
}
.ppostTitle{
  color: #dc2f55;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.ppostImg{
  height: max(300px);
  max-width: 70vw;
  margin-bottom: 2rem;
  border: 2px solid #dc2f55;
  border-radius: 30px;
}
.ppostAuthor{
  margin-right: 20px;
}
.authLike{
  width: 76vw;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 2rem;
 color: #cf6f83;
}
.ppostcontent{
  display: flex;
  width: 70vw;
  align-items: center;
  justify-content: center;
}
.mainProfile{
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
}

.mainProfile button,.commentt,.editt,.buttn{
  background-color: #dc2f55;
  border: none;
  color: #131324;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0px 0.5rem;
  font-weight: bold;
  border: 2px solid #dc2f55;
}
.mainProfile button:hover,.commentt:hover,.editt:hover,.buttn:hover{
  color: #dc2f55;
  background-color: #131324;
  border: 2px solid #dc2f55;
}

.profileImg {
  max-width: 200px;
  border-radius: 50%;
  border: 4px solid #dc2f55;
}
.UserPosts{
  margin-top: 3rem !important;
  color: white;
  margin-top: 3rem;
  font-size: 2.5rem;
}

h2 span{
  color: #dc2f55;
}
.aldi{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  border: 2px solid #dc2f55;
  border-radius: 30px;
}
.modal-content{
  background-color: #15172b;
  color: #dc2f55;
}
.btn-danger{
  background-color: #dc2f55;
}
.lBtn {
  width: 140px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
  cursor: pointer;
  background-color: transparent;
}

.lBtn:hover .leftContainer .like{
  color: #dc2f55;
  background-color: #131324;
}
.lBtn:active .leftContainer .like{
  color: #131324;
  background-color: #dc2f55;
}
.lBtn:hover .leftContainer svg{
  fill: #dc2f55;
}
.lBtn:active .leftContainer svg{
  fill: #131324;
}


.leftContainer {
  width: 60%;
  height: 100%;
  background-color: #dc2f55;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


.leftContainer .like {
  text-transform: uppercase;
  color: #131324;
  font-weight: 600;
}
.leftContainer:hover .like,.leftContainer:hover svg{
  color: #dc2f55;
  fill: #dc2f55;
}
.leftContainer:active .like,.leftContainer:active svg{
  color: #131324;
  fill: #131324;
}

.likeCount {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#dc2f55;
  font-weight: 600;
  position: relative;
  border: 2px solid #dc2f55;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #131324;
  z-index: 1;
}



.likeCount::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: "";
  background-color: #131324;
  transform: rotate(45deg);
  left: -4px;
}

.lBtn:hover .leftContainer{
  background-color: #131324;
  border: 2px solid #dc2f55;
}

.lBtn:active .leftContainer {
  background-color: #dc2f55;
}

.lBtn:active .leftContainer svg {
  transform: scale(1.15);
  transform-origin: top;
}
.btnns{
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  z-index: 100;
}

.purp:hover svg{
  fill: purple !important;
}

.buttn{
  margin-top: 1.2rem;
  width: 20vw;
  text-transform: uppercase;
  font-weight: bold;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  height: 100vh;
  width: 100vw;
}
.loader{
  max-inline-size: 100%;
}
.titleCon h1{
  color: white;
  text-align: center;
}
.avatars{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Avatar{
  border: 0.4rem solid transparent;
  padding: 0.4rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.Avatar img{
  height: 6rem;
}
.selected{
  border: 0.4rem solid #dc2f55;
}
.sbt{
  max-width: 300px;
}
.card-main{
  margin-top: 50px;
  position: absolute;
  left: 10vw;
  width: 80vw;
}
.card-body{
  border: 2px solid #dc2f55;
  margin: 0.5rem;
  border-radius: 30px;
  color:#dc2f55;
  background-color: #15172b;
}
.card{
  background-color: #15172b !important;
  border: none;
}
.card.shadow-0{
  border: none !important;
  width: 100%;
}
.comInput{
  background-color: #15172b;
  border-radius: 30px;
  border: 2px solid #cf6f83;
  color: #dc2f55;
  width: 60vw;
  margin-bottom: 1rem;
}
.comInput::placeholder{
  color: #dc2f55;
}
.comInput:focus{
  box-shadow: none;
  border: 2px solid #dc2f55;
  color: #dc2f55;
  background-color: #15172b;
}
.comSend{
  margin-top: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  width: 80vw;
}

.comSend button{
  background-color: #dc2f55;
  color: #15172b;
  border: none;
  border-radius: 10px;
  width: 10vw;
  height: 2rem;
  margin-left: 2vw;
  margin-top: 3px;
}

@media screen and (max-width:720px){
  
  .comSend{
    margin-left: 0vw;
  }
  .comSend button{
    width: 15vw;
    }
  .card-main{
    left: 2vw;
    width: 95vw;
  }
  .ppost{
    width: 95vw;
  }
  .ppostTitle{
    font-size: 35px;
  }
  .authLike{
    flex-direction:column;
    gap: 1rem;
    width: 95vw;
  }
  .ppostAuth{
    font-size: 18px;
  }
  .post{
    flex-direction: column;
    width: 80vw;
  }
  nav{
    padding-left: 1rem;
  }
  .brand{
    font-size: 20px;
  }
  .imgDiv{
    width: 100%;
    height: auto;
  }
  .contentDiv{
    width: 100%;
  }
  .authTime,.lBtn{
    align-self: center !important;
  }
  .authTime{
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .postTitle,.postSummary{
    text-align: center;
  }
  .card-main{
    width: 100vw !important;
  }
}
@media screen and (max-width:370px){
  .comInput{
    width: 50vw !important;
  }
  .comSend button{
    width: 20vw;
  }
  .brand{
    font-size: 17px;
  }
  nav{
    padding-left: 1rem;
  }
}